body {
  font-family: 'Roboto', sans-serif;
  background-color: #EAF2E0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

.logotipo {
  padding: 10px 0;
  width: 250px; }

.iconoRedesHeader {
  width: 30px;
  height: 30px; }

.col-12 img {
  height: 250px;
  width: 250px; }

.col-12 {
  justify-content: center;
  text-align: center; }

footer {
  background-color: black;
  padding: 100px 0;
  text-align: center; }

.productos {
  display: flex; }

.card {
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 3px;
  padding: 5px; }

.product h5 {
  font-size: 1.7em;
  margin-top: 5px;
  margin-bottom: 5px; }

section div {
  justify-content: center; }

section {
  background-color: #97A38B;
  text-align: center; }

section {
  margin: 5px;
  padding: 10px; }

h1 {
  text-align: center; }

h2 {
  text-align: center; }

.titulo p {
  text-align: center; }
