.contenedor__nav {
  width: 1000px;
  margin: 0px auto;
  background: #fff;
  background-color: #F13548; }

.contenedor__menu li {
  position: relative;
  display: inline-block; }

.contenedor__menu li > a {
  display: block;
  padding: 15px 20px;
  color: #353535;
  font-family: 'open sans';
  text-decoration: none; }

.contenedor__menu li a:hover {
  color: #CE7D35; }

.cardlogo img {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto; }

body {
  display: grid;
  background-color: #636660;
  grid-template-areas: 'header header menu menu menu menu' 'main main main main main main' 'section section section section section section' 'aside aside aside aside aside aside' 'footer footer footer footer footer footer'; }

.cardmain {
  grid-area: main;
  display: flex;
  justify-content: space-around;
  width: auto;
  height: auto; }

.card-img--modifier {
  height: 350px;
  width: 350px; }

.carousel-item img {
  width: 50% !important;
  height: 50%; }

.cardaside {
  grid-area: aside;
  display: flex;
  justify-content: space-around;
  width: auto;
  height: auto;
  margin: 30px; }

.cardaside img {
  height: 200px;
  width: 200px; }

.cardfooter {
  grid-area: footer;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff; }

.cardfooter__contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; }

.cardfooter__redes img {
  width: 25px;
  height: 25px; }

.cardsection {
  grid-area: section;
  display: flex;
  justify-content: space-around;
  width: auto;
  height: auto;
  margin: 30px; }

.cardsection img {
  height: 200px;
  width: 200px; }
