$contancho:1000px;
$bgcolor:#F13548;
$colortext:#CE7D35;


.contenedor__nav{width: $contancho;
    margin: 0px auto;
    background: #fff;
    background-color:$bgcolor ;

}
.contenedor__menu li{
    position: relative;
    display: inline-block;
} 
.contenedor__menu li > a{
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family:'open sans';
    text-decoration: none;
}
.contenedor__menu {
    li a:hover{
    color: $colortext;
}
}
.cardlogo {
    img{
        height: 100px;
        width: 100px;
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50%;
        background-size: 100% auto;
    }
    
}
